body {
	background-image: url(lynn-swann.jpg);
	background-repeat: no-repeat;
	background-size: 1400px 750px;
	font-family: 'Baloo Bhaina', cursive;
	
}


h1, h2, h3, h4, p, li{
	letter-spacing: 2px;
	text-shadow: 3px 2px #D68840;
}

ul{
	list-style-type: none;
}

li{
	width: 250px;
	font-size: 40px;
	text-align: center;
	border: 3px solid black;
	border-radius: 20px;
	margin: 10px;
}

h3, h4{
	text-align: center;
	margin: 0;
}

h1, h2{
	font-size: 40px;
}
.scoreBoard{
	font-size: 35px;
	position: fixed;
	top: 0;
	right: 40px;
}

