body {
	background-image: url(lynn-swann.jpg);
	background-repeat: no-repeat;
	background-size: 1400px 750px;
	font-family: 'Baloo Bhaina', cursive;
	
}


h1, h2, h3, h4, p, li{
	letter-spacing: 2px;
	text-shadow: 3px 2px #D68840;

}

li{
	font-size: 40px;
}

h1, h2{
	font-size: 40px;
}
.scoreBoard{
	font-size: 35px;
	position: fixed;
	top: 0;
	right: 40px;
}


.question_1{
	background-image: url(question1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	height: 850px;
}

.question_2{
	background-image: url(question2pic.jpg);
	background-repeat: no-repeat;
	background-position: center;
	height: 850px;
	
}

.question_3{
	background-image: url(question3pic.jpeg);
	background-repeat: no-repeat;
	background-position: center;
	height: 850px;
}

.question_4{
	background-image: url(question4pic.jpg);
	background-size: 1200px 500px;
	background-repeat: no-repeat;
	background-position: center;
	height: 850px;
}

.question_5{
	background-image: url(question5pic.jpg);
	background-size: 85%;
	background-repeat: no-repeat;
	background-position: center;
	height: 850px;
}
